h1,h2,h3{
    font-family: 'Raleway';
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}

p{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 10px;
    max-width: 1440px;
    min-width: 320px;
    overflow-x: hidden;
}

/*header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    height: 19px;
    width: 61px;
}

.lientop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Raleway';
    gap: 10px;
    list-style: none;
    margin-top: 0;
}

.lienctn:hover{
    border-top: solid #0065FC 2px ;
    width: 100%;
    color: #0065FC;
}

/*navigation*/

nav{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.titre{
    margin: 0;
    font-size: 22px;
}

.centre-ville{
    margin: 0;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
    font-size: 18px;
    line-height: 21px;
    height: 49px;
}

.fa-location-dot{
    width: 50px;
    height: 40px;
    padding-top: 16px;
    background: #F2F2F2;
    color: #000000;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    text-align: center; 
    z-index: 1;   
}

.schinput{
    width: 225px;
    height: 49px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    z-index: 0;
}

.schbtn{
    width: 132px;
    height: 40px;
    border-radius: 0px 15px 15px 0px;;
    background-color: #0065FC;
    color: #F2F2F2;
    text-align: center;
    padding-top: 15px;
}

.schbtn2{
    display: none;
}

.fa-magnifying-glass{
    margin: 0 auto auto auto;
}

.filtre{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filtrelist1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filtrelist{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filtrebtn{
    display: flex;
    flex-direction: row;
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 2px;
    background-color: #F2F2F2;
    gap: 0;
    line-height: 20px;
    font-size: 700;
}

.filtrebtn:hover{
    background-color: #DEEBFF;
}

.fa-fire,.fa-heart,.fa-person,.fa-money-bill-wave{
    margin: auto 15px auto 15px;
    color:  #0065FC
}

.disclaimer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fa-circle-exclamation{
    margin: auto 0 auto 0;
    color: #0065FC;
}

/*hebergement a marseille */

main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hebergementctn{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;    
    border-radius: 20px;
    width: 70%;
    gap: 10px;
}

.hebergementlist{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.cartehebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: auto;
    gap: 0;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}

.hebergementimg{
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.hebergementtxt{
    margin-top: 0;
    margin-bottom: 0;
}

.starcount{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    margin-top: 10px;
}