@media screen and (max-width: 1024px){
    .filtre{
        flex-direction: column;
    }

    .filtrelist1{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .filtrelist{
        gap: 10px;
    }

    /*main*/
    main{
        flex-direction: column;
    }

    .hebergementctn{
        width: 100%;
    }

    /*les plus pop*/

    aside{
        width: 100%;
    }

    .poplist{
        flex-direction: row;
        margin: auto auto 10px auto;
        width: 95%;
    }

    .cartepop{
        width: 100%;
    }

    /*activite a marseille*/
    
    .actasset{
        height: 60px;
    }

    .actimg{
        height: 200px;
    }
}